.main {
    width: 100%;
    background: url('../images/grey1.jpg'); 
}

.music {
    color: grey;
    text-align: center;
}

.block {
    width: 30%;
    height: 100px;
    border: 2px solid grey;
    margin: 0 auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: rgb(137, 157, 170);
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

.block:hover {
    color: grey;
}

.block-flex {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .block {
        width: 60%;
    }

    .block:nth-child(2) {
        display: none;
    }
}

@media (max-width: 425px) {
    .block {
        font-size: 28px;
    }
}